@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-family: "PT Sans";
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-family: "PT Sans";
  font-display: swap;
}

* {
  box-sizing: border-box;

  &::before {
    box-sizing: border-box;
  }

  &::after {
    box-sizing: border-box;
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  position: absolute;
  clip-path: inset(100%);
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
}

body {
  margin: 0;
  background-color: #f2f2f2;
  height: 100%;
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
}

.page {
  &-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin: 0 auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    width: 1200px;
    min-height: 100vh;
  }

  &-footer {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    padding: 45px 70px 35px;
  }

  &-footer-academy-link {
    margin-top: 3px;
  }

  &-footer-academy-link:active svg {
    fill: rgba(117, 97, 87, 0.3);
  }

  &-footer-academy-link:focus-visible svg {
    fill: #756157;
  }

  &-footer-academy-link:hover svg {
    fill: #756157;
  }

  &-footer-phone-link {
    color: #000000;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }

  &-footer-phone-link:active {
    color: rgba(117, 97, 87, 0.3);
  }

  &-footer-phone-link:focus-visible {
    color: #756157;
  }

  &-footer-phone-link:hover {
    color: #756157;
  }

  &-header {
    position: relative;
  }

  &-header-link:active .page-header-logo {
    opacity: 0.3;
  }

  &-header-link:focus-visible .page-header-logo {
    outline: auto;
    outline-color: #000000;
  }

  &-header-link:hover .page-header-logo {
    opacity: 0.6;
  }

  &-header-logo {
    position: absolute;
    left: 70px;
    z-index: 1;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-right: 70px;
  margin-left: 238px;
  width: 893px;

  &-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 340px;
    list-style: none;
  }

  &-link {
    display: block;
    position: relative;
    padding: 20px 16px;
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;

    &:active {
      opacity: 0.3;
    }

    &:hover {
      opacity: 0.6;
    }

    &:focus-visible {
      outline-offset: -1px;
    }

    &-current {
      &::after {
        position: absolute;
        right: 16px;
        bottom: 0;
        left: 16px;
        background-color: #756257;
        height: 2px;
        content: "";
      }
    }
  }
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  max-width: 268px;

  &-link {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 44px;
    min-height: 64px;

    &:active {
      opacity: 0.3;
    }

    &:hover {
      opacity: 0.6;
    }

    &:focus-visible {
      outline-offset: -1px;
    }

    &-favorites {
      position: relative;
    }

    &-want {
      margin-top: 5px;
      margin-bottom: 5px;
      width: 160px;
    }
  }

  &-item-want {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    min-height: 64px;
  }
}

.favorites-count {
  display: flex;
  position: absolute;
  top: 11px;
  right: 4px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #7db54f;
  padding: 4px;
  min-width: 20px;
  min-height: 20px;
  color: #ffffff;
  font-size: 10px;
  line-height: 10px;
}

.hero {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url("../images/hero-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #6195bd;
  padding: 51px 51px 82px;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 57px;
    content: url("../images/hero-divider.svg");
  }
}

.view {
  &-table {
    background-image: url("../images/view-table.svg");
    background-position: center;
    background-size: 16px 14px;
    background-repeat: no-repeat;
  }

  &-card {
    background-image: url("../images/view-card.svg");
    background-position: center;
    background-size: 16px 14px;
    background-repeat: no-repeat;
  }

  &-list {
    background-image: url("../images/view-list.svg");
    background-position: center;
    background-size: 16px 14px;
    background-repeat: no-repeat;
  }
}

.advantages {
  &-card {
    display: flex;
    flex-wrap: wrap;
  }

  &-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #82b3d3;
    padding: 92px 85px;
    width: 400px;
    min-height: 384px;
    text-align: center;
  }

  &-card-content::after {
    order: 2;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    width: 60px;
    content: "";
  }

  &-card-description {
    order: 3;
    margin: 0;
    color: #ffffff;
  }

  &-card-image {
    height: auto;
    object-fit: cover;
  }

  &-card-title {
    margin: 0;
    color: #ffffff;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
  }

  &-container {
    padding: 69px 274px 90px;
  }

  &-description {
    margin: 0;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
  }

  &-item {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 103px 85px;
    width: 400px;
    min-height: 384px;
    text-align: center;
  }

  &-item-description {
    order: 3;
    margin: 0;
  }

  &-item-title {
    margin: 0;
    color: #000000;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
  }

  &-item-title-advice {
    margin: 30px 0;
  }

  &-item-food::before {
    margin-top: 1px;
    width: 74px;
    height: 70px;
    content: url("../images/food.svg");
  }

  &-item-housing::before {
    width: 75px;
    height: 72px;
    content: url("../images/housing.svg");
  }

  &-item-souvenirs::before {
    margin-top: -4px;
    width: 64px;
    height: 76px;
    content: url("../images/souvenirs.svg");
  }

  &-item:nth-child(even) {
    background-color: rgba(131, 179, 211, 0.2);
  }

  &-item:nth-child(odd) {
    background-color: rgba(131, 179, 211, 0.12);
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .advices .advantages-item {
    padding: 80px 85px;
  }

  .advices .advantages-item:nth-child(even) {
    background-color: #ffffff;
  }

  &-list:not(&-list.advices) .advantages-item::after {
    order: 2;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    width: 60px;
    content: "";
  }

  &-title {
    margin: 0 0 25px 0;
    color: #000000;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
  }
}

.button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 8px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &-blue {
    background-color: #82b3d3;

    &:active {
      background-color: #82b3d3;
      color: rgba(255, 255, 255, 0.3);
    }

    &:focus-visible {
      background-color: #68a2ca;
    }

    &:hover {
      background-color: #68a2ca;
    }
  }

  &-brown {
    background-color: #756157;

    &:active {
      background-color: #756157;
      color: rgba(255, 255, 255, 0.3);
    }

    &:focus-visible {
      background-color: #615048;
    }

    &:hover {
      background-color: #615048;
    }
  }

  &-green {
    background-color: #7db54f;

    &:active {
      background-color: #7db54f;
      color: rgba(255, 255, 255, 0.3);
    }

    &:focus-visible {
      background-color: #6c9e42;
    }

    &:hover {
      background-color: #6c9e42;
    }
  }

  &-transparent {
    background-color: transparent;

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }

    &:disabled {
      cursor: default;
      pointer-events: none;
      color: rgba(255, 255, 255, 0.1);
    }

    &:focus-visible {
      outline: 3px solid #83b3d3;
    }

    &:hover {
      color: rgba(255, 255, 255, 0.6);
    }
  }

  &:disabled {
    cursor: default;
    background-color: #e5e5e5;
    pointer-events: none;
    color: #ffffff;
  }
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 40px 0;
  padding: 0;
  list-style: none;

  &-item:not(:last-child) {
    position: relative;
    padding-right: 28px;
  }

  &-item:not(:last-child)::after {
    position: absolute;
    top: 50%;
    right: 11px;
    transform: translateY(-45%);
    background-image: url("../images/breadcrumbs-icon-arrow.svg");
    width: 7px;
    height: 11px;
    content: "";
  }

  &-link {
    position: relative;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
  }

  &-link-home::before {
    width: 200%;
    height: 120%;
  }

  &-link::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120%;
    height: 100%;
    content: "";
  }

  &-link:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &-link:hover {
    color: rgba(255, 255, 255, 0.6);
  }
}

.pagination {
  display: grid;
  grid-template-columns: repeat(auto-fill, 60px);
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;

  &-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #82b3d3;
    min-width: 60px;
    min-height: 60px;
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-decoration: none;

    &:active:not(&-link-current):not(&-link-divider) {
      border: none;
      background-color: #82b3d3;
      color: rgba(255, 255, 255, 0.3);
    }

    &:focus-visible:not(&-link-current):not(&-link-divider) {
      outline: 1px solid #82b3d3;
      outline-offset: -1px;
      background-color: #68a2ca;
    }

    &:hover:not(&-link-current):not(&-link-divider) {
      outline: 1px solid #82b3d3;
      outline-offset: -1px;
      background-color: #68a2ca;
    }
  }

  &-link-current {
    background-color: #f2f2f2;
    color: #000000;
  }

  &-link-divider {
    background-color: transparent;
    color: #000000;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
  }
}

.newsletter {
  padding: 96px 258px 104px;

  &-description {
    margin: 0 0 54px 0;
    color: #ffffff;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
  }

  &-form {
    display: flex;
  }

  &-form-button {
    border-radius: 0 4px 4px 0;
    width: 232px;
    font-size: 20px;
    line-height: 36px;
  }

  &-form-input-mail {
    border: none;
    border-radius: 4px 0 0 4px;
    background-color: #f2f2f2;
    padding-left: 20px;
    width: 452px;
    height: 100%;
    font-size: 18px;
    line-height: 24px;
    font-family: inherit;
  }

  &-form-input-mail::placeholder {
    opacity: 0.6;
    color: #000000;
  }

  &-form-input-mail:active {
    outline: 2px solid #000000;
  }

  &-form-input-mail:focus-visible {
    outline: 3px solid #83b3d3;
  }

  &-form-input-mail:hover {
    background-color: #e6e6e6;
  }

  &-title {
    margin: 0 0 20px 0;
    color: #ffffff;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
  }

  &.transparent &-description {
    color: #333333;
  }

  &.transparent &-title {
    color: #000000;
  }

  &.with-background {
    background-image: url("../images/newsletter-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #8c98a3;
  }
}

.select-control {
  appearance: none;
  margin-right: 70px;
  margin-left: auto;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-image: url("../images/select-arrow.svg");
  background-position: right 21px center;
  background-repeat: no-repeat;
  background-color: #ffffff;
  min-width: 292px;
  height: 49px;
  font-size: 18px;
  line-height: 21px;
  font-family: inherit;
  text-indent: 20px;

  &:active {
    border-color: #3f5e72;
  }

  &:disabled {
    opacity: 0.3;
    border-color: #000000;
    color: #000000;
  }

  &:focus-visible {
    outline: none;
    border-color: #68a2ca;
  }

  &:hover {
    border-color: #68a2ca;
  }
}

.socials {
  &-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    width: 47px;
    height: 40px;

    &:active,
    &:hover {
      svg {
        fill: #68a2ca;
      }
    }

    &:focus-visible {
      svg {
        fill: rgba(104, 162, 202, 0.3);
      }
    }
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    min-width: 142px;
    max-width: 142px;
    list-style: none;
  }
}

.hotel {
  &-search {
    padding: 96px 304px;
    text-align: center;

    &-description {
      margin: 0 0 54px 0;
      font-size: 22px;
      line-height: 26px;
      text-align: center;
    }

    &-link {
      display: inline-block;
      width: 376px;
      font-size: 20px;
      line-height: 36px;
    }

    &-title {
      margin: 0 0 20px 0;
      color: #000000;
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;
      text-align: center;
      text-transform: uppercase;
    }
  }
}

.hotels {
  &-link {
    text-decoration: none;
  }

  &-image {
    display: block;
    margin-bottom: 16px;
    max-width: 100%;
    object-fit: contain;
  }

  &-link-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  &-item {
    display: flex;
    flex-direction: column;
    outline: 1px solid #e6e6e6;
    border-radius: 4px;
    padding: 20px;
  }

  &-item-content {
    display: grid;
    grid-template-rows: min-content minmax(36px, min-content) minmax(37px, min-content);
    grid-template-columns: repeat(2, 140px);
    gap: 16px 20px;
    margin-top: auto;
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    gap: 20px;
    margin: 0 0 40px 0;
    border-bottom: 1px solid #e6e6e6;
    padding: 0 0 40px 0;
    list-style: none;
  }

  &-number-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #f2f2f2;
    color: #333333;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    font-family: inherit;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }

  &-price {
    justify-self: end;
  }

  &-star-rating {
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url("../images/star-rating.svg");
    background-size: 18px 17px;
    background-repeat: space;
  }

  &-title {
    margin: 0 0 16px 0;
    color: #000000;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  }
}

.four-stars {
  width: 87px;
}

.sorting {
  &-controls-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #e5e5e5;
    border-radius: 4px;
    min-width: 48px;
    min-height: 48px;

    &:active {
      border-color: #000000;
    }

    &:focus-visible {
      outline: none;
      border-color: #68a2ca;
    }

    &:hover {
      border-color: #000000;
    }

    &-current {
      border-color: #000000;
    }
  }

  &-controls-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.catalog {
  &-filter-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &-filter-price-inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
  }

  &-filter-title {
    margin-bottom: 32px;
    padding: 0;
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    text-transform: capitalize;
  }

  &-header {
    background-image: url("../images/catalog-header-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #3c719b;
    padding: 35px 70px 70px;
    color: #ffffff;
  }

  &-hotels-title {
    margin: 0 0 8px 0;
    color: #ffffff;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
  }

  &-main {
    display: flex;
    flex-direction: column;
    padding: 50px 70px 60px;
  }

  &-search-result {
    display: block;
    margin: 6px 30px 0 0;
    color: #000000;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
  }

  &-sorting {
    display: flex;
    margin-bottom: 40px;
  }

  &-filter-buttons-container {
    display: flex;
    flex-direction: column;
    margin-top: 56px;
    width: 191px;
  }

  &-filter-buttons-submit {
    margin-bottom: 32px;
  }

  &-filter-form {
    display: flex;
  }

  &-filter-group {
    margin: 0;
    border: none;
    padding: 0;
    width: 150px;
  }

  &-filter-group-housing {
    margin-right: auto;
  }

  &-filter-group-infrastructure {
    margin-right: 70px;
  }

  &-filter-group-price {
    margin-right: 70px;
    width: 288px;
  }

  &-filter-group-price .control-input:active {
    outline: 2px solid #000000;
  }

  &-filter-group-price .control-input:focus-visible {
    outline: 3px solid #83b3d3;
  }

  &-filter-group-price .control-input:hover {
    background-color: #e6e6e6;
  }

  &-filter-item:not(:last-child) {
    margin-bottom: 17px;
  }
}

.control {
  display: block;
  position: relative;
  padding-left: 36px;

  &:active {
    opacity: 0.3;
  }

  &:hover {
    opacity: 0.6;
  }

  &-input {
    border: none;
    background-color: #f2f2f2;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    font-family: inherit;
  }

  &-mark {
    position: absolute;
    left: 0;
    background-color: #ffffff;
    width: 20px;
    height: 20px;

    &-checkbox {
      border-radius: 4px;
    }

    &-radio {
      border-radius: 50%;
    }
  }

  &-price {
    position: relative;
  }

  &-price .control-input {
    padding: 0;
    padding-right: 50px;
    padding-left: 20px;
    width: 143px;
    height: 48px;
  }

  &-range {
    position: relative;
    margin: 8px 0;
    background-color: rgba(255, 255, 255, 0.3);
    height: 4px;
  }

  &-range-bar {
    position: absolute;
    left: 0;
    background-color: #ffffff;
    width: 226px;
    height: 4px;
  }

  &-input-label {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    opacity: 0.3;
    color: #000000;
    line-height: 24px;
  }

  &-input.left-control-field {
    margin-right: 2px;
    border-radius: 4px 0 0 4px;
  }

  &-input.right-control-field {
    border-radius: 0 4px 4px 0;
  }

  &-input:focus-visible+.control-mark {
    outline: 3px solid #83b3d3;
  }

  &-input[type="checkbox"]:checked+.control-mark-checkbox::after {
    position: absolute;
    top: 6px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../images/checkbox.svg");
    width: 12px;
    height: 10px;
    content: "";
  }

  &-input[type="radio"]:checked+.control-mark-radio::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50%;
    background-color: #3f5e72;
    width: 10px;
    height: 10px;
    content: "";
  }
}

.range-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  width: 20px;
  height: 20px;

  &-max {
    right: 0;
  }

  &-min {
    left: 0;
  }

  &:active {
    outline: 2px solid #83b3d3;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
  }

  &:focus-visible {
    outline: 3px solid #83b3d3;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  }

  &:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  }
}

.error-message {
  color: #ff5757;
}

.error-message-hide .error-message {
  display: none;
}

.info-message-hide .info-message {
  display: none;
}

.modal {
  &-auth {
    position: relative;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    background-color: #ffffff;
    padding: 64px 70px;
    width: 717px;
  }

  &-close-button {
    display: flex;
    position: absolute;
    right: 52px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    background-color: #f2f2f2;
    width: 52px;
    height: 52px;
  }

  &-close-button:active svg {
    opacity: 0.3;
  }

  &-close-button:focus-visible {
    outline: 3px solid #83b3d3;
    background-color: #e6e6e6;
  }

  &-close-button:hover {
    background-color: #e6e6e6;
  }

  &-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: rgba(242, 242, 242, 0.8);
    width: 100%;
    height: 100%;
  }

  &-container-close {
    display: none;
  }

  &-content-container {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
  }

  &-content-container-guests {
    display: flex;
    align-items: center;
  }

  &-content-container-kids {
    width: 242px;
  }

  &-content-container-kids .modal-content-label {
    padding: 0;
    width: auto;
  }

  &-content-container-value {
    position: relative;
    margin-left: auto;
  }

  &-content-container:not(.no-calendar)::after {
    position: absolute;
    top: 50%;
    right: 22px;
    transform: translateY(-50%);
    opacity: 0.3;
    content: url("../images/calendar.svg");
  }

  &-content-find-button {
    display: block;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #83b3d3;
    padding-top: 18px;
    padding-bottom: 18px;
    width: 100%;
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
  }

  &-content-find-button:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &-content-find-button:focus-visible {
    background-color: #68a2ca;
  }

  &-content-find-button:hover {
    background-color: #68a2ca;
  }

  &-content-input {
    border: none;
    border-radius: 4px;
    background-color: #f2f2f2;
    padding-right: 50px;
    padding-left: 20px;
    width: calc(100% - 137px);
    min-height: 48px;
    color: #000000;
    font: inherit;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
  }

  &-content-input-value {
    display: block;
    padding-right: 40px;
    padding-left: 40px;
    width: 110px;
    text-align: center;
  }

  &-content-input::placeholder {
    opacity: 0.6;
    color: #000000;
  }

  &-content-input:active {
    outline: 2px solid #000000;
    background-color: #f2f2f2;
  }

  &-content-input:focus {
    outline: 3px solid #83b3d3;
    background-color: #e6e6e6;
  }

  &-content-input:hover {
    background-color: #e6e6e6;
  }

  &-content-label {
    display: block;
    width: 137px;
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
  }

  &-content-message {
    position: absolute;
    top: calc(100% + 4px);
    left: 157px;
    font-size: 16px;
  }

  &-content-title {
    margin: 0 50px 64px 0;
    color: #000000;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
  }

  &-content-tooltip {
    margin-right: 10px;
    margin-left: 10px;
  }

  &-content-tooltip-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #83b3d3;
    width: 26px;
    height: 26px;
  }

  &-content-tooltip-button:focus-visible {
    background-color: #68a2ca;
  }

  &-content-tooltip-button:focus-visible+.modal-content-tooltip-text {
    display: block;
  }

  &-content-tooltip-button:hover+.modal-content-tooltip-text {
    display: block;
  }

  &-content-tooltip-text {
    display: none;
    position: absolute;
    transform: translateX(-50%);
    z-index: 1;
    margin: 15px 0 0 13px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #333333;
    padding: 15px 18px 18px 22px;
    min-width: 256px;
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    text-transform: none;
  }

  &-content-tooltip-text::before {
    position: absolute;
    top: -9px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../images/tooltip-arrow.svg");
    width: 19px;
    height: 9px;
    content: "";
  }

  &-content-value-button {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    padding: 0;
    width: 20px;
    height: 20px;
  }

  &-content-value-button:active svg {
    fill-opacity: 0.2;
  }

  &-content-value-button:focus {
    outline: none;
  }

  &-content-value-button:focus-visible {
    fill: #000000;
    fill-opacity: 1;
    outline: 3px solid #82b3d3;
  }

  &-content-value-button:hover svg {
    fill: #000000;
    fill-opacity: 1;
  }
}

.value-down {
  top: 15px;
  left: 10px;
}

.value-up {
  top: 15px;
  right: 10px;
}
