@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-family: "PT Sans";
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-family: "PT Sans";
  font-display: swap;
}


* {
  box-sizing: border-box;

  &::before {
    box-sizing: border-box;
  }

  &::after {
    box-sizing: border-box;
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  position: absolute;
  clip-path: inset(100%);
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
}

body {
  margin: 0;
  background-color: #f2f2f2;
  height: 100%;
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
}

.page {
  &-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin: 0 auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    width: 1200px;
    min-height: 100vh;
  }

  &-footer {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    padding: 45px 70px 35px;
  }

  &-footer-academy-link {
    margin-top: 3px;
  }

  &-footer-academy-link:active svg {
    fill: rgba(117, 97, 87, 0.3);
  }

  &-footer-academy-link:focus-visible svg {
    fill: #756157;
  }

  &-footer-academy-link:hover svg {
    fill: #756157;
  }

  &-footer-phone-link {
    color: #000000;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }

  &-footer-phone-link:active {
    color: rgba(117, 97, 87, 0.3);
  }

  &-footer-phone-link:focus-visible {
    color: #756157;
  }

  &-footer-phone-link:hover {
    color: #756157;
  }

  &-header {
    position: relative;
  }

  &-header-link:active .page-header-logo {
    opacity: 0.3;
  }

  &-header-link:focus-visible .page-header-logo {
    outline: auto;
    outline-color: #000000;
  }

  &-header-link:hover .page-header-logo {
    opacity: 0.6;
  }

  &-header-logo {
    position: absolute;
    left: 70px;
    z-index: 1;
  }
}





.navigation {
  display: flex;
  justify-content: space-between;
  margin-right: 70px;
  margin-left: 238px;
  width: 893px;

  &-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 340px;
    list-style: none;
  }

  &-link {
    display: block;
    position: relative;
    padding: 20px 16px;
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;

    &:active {
      opacity: 0.3;
    }

    &:hover {
      opacity: 0.6;
    }

    &:focus-visible {
      outline-offset: -1px;
    }

    &-current {
      &::after {
        position: absolute;
        right: 16px;
        bottom: 0;
        left: 16px;
        background-color: #756257;
        height: 2px;
        content: "";
      }
    }
  }
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  max-width: 268px;

  &-link {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 44px;
    min-height: 64px;

    &:active {
      opacity: 0.3;
    }

    &:hover {
      opacity: 0.6;
    }

    &:focus-visible {
      outline-offset: -1px;
    }

    &-favorites {
      position: relative;
    }

    &-want {
      margin-top: 5px;
      margin-bottom: 5px;
      width: 160px;
    }
  }

  &-item-want {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    min-height: 64px;
  }
}

.favorites-count {
  display: flex;
  position: absolute;
  top: 11px;
  right: 4px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #7db54f;
  padding: 4px;
  min-width: 20px;
  min-height: 20px;
  color: #ffffff;
  font-size: 10px;
  line-height: 10px;
}

.hero {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url("../images/hero-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #6195bd;
  padding: 51px 51px 82px;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 57px;
    content: url("../images/hero-divider.svg");
  }
}

.view {
  &-table {
    background-image: url("../images/view-table.svg");
    background-position: center;
    background-size: 16px 14px;
    background-repeat: no-repeat;
  }

  &-card {
    background-image: url("../images/view-card.svg");
    background-position: center;
    background-size: 16px 14px;
    background-repeat: no-repeat;
  }

  &-list {
    background-image: url("../images/view-list.svg");
    background-position: center;
    background-size: 16px 14px;
    background-repeat: no-repeat;
  }
}

.advantages {
  &-card {
    display: flex;
    flex-wrap: wrap;
  }

  &-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #82b3d3;
    padding: 92px 85px;
    width: 400px;
    min-height: 384px;
    text-align: center;
  }

  &-card-content::after {
    order: 2;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    width: 60px;
    content: "";
  }

  &-card-description {
    order: 3;
    margin: 0;
    color: #ffffff;
  }

  &-card-image {
    height: auto;
    object-fit: cover;
  }

  &-card-title {
    margin: 0;
    color: #ffffff;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
  }

  &-container {
    padding: 69px 274px 90px;
  }

  &-description {
    margin: 0;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
  }

  &-item {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 103px 85px;
    width: 400px;
    min-height: 384px;
    text-align: center;
  }

  &-item-description {
    order: 3;
    margin: 0;
  }

  &-item-title {
    margin: 0;
    color: #000000;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
  }

  &-item-title-advice {
    margin: 30px 0;
  }

  &-item-food::before {
    margin-top: 1px;
    width: 74px;
    height: 70px;
    content: url("../images/food.svg");
  }

  &-item-housing::before {
    width: 75px;
    height: 72px;
    content: url("../images/housing.svg");
  }

  &-item-souvenirs::before {
    margin-top: -4px;
    width: 64px;
    height: 76px;
    content: url("../images/souvenirs.svg");
  }

  &-item:nth-child(even) {
    background-color: rgba(131, 179, 211, 0.2);
  }

  &-item:nth-child(odd) {
    background-color: rgba(131, 179, 211, 0.12);
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .advices .advantages-item {
    padding: 80px 85px;
  }

  .advices .advantages-item:nth-child(even) {
    background-color: #ffffff;
  }

  &-list:not(&-list.advices) .advantages-item::after {
    order: 2;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    width: 60px;
    content: "";
  }

  &-title {
    margin: 0 0 25px 0;
    color: #000000;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
  }
}

.button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 8px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &-blue {
    background-color: #82b3d3;

    &:active {
      background-color: #82b3d3;
      color: rgba(255, 255, 255, 0.3);
    }

    &:focus-visible {
      background-color: #68a2ca;
    }

    &:hover {
      background-color: #68a2ca;
    }
  }

  &-brown {
    background-color: #756157;

    &:active {
      background-color: #756157;
      color: rgba(255, 255, 255, 0.3);
    }

    &:focus-visible {
      background-color: #615048;
    }

    &:hover {
      background-color: #615048;
    }
  }

  &-green {
    background-color: #7db54f;

    &:active {
      background-color: #7db54f;
      color: rgba(255, 255, 255, 0.3);
    }

    &:focus-visible {
      background-color: #6c9e42;
    }

    &:hover {
      background-color: #6c9e42;
    }
  }

  &-transparent {
    background-color: transparent;

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }

    &:disabled {
      cursor: default;
      pointer-events: none;
      color: rgba(255, 255, 255, 0.1);
    }

    &:focus-visible {
      outline: 3px solid #83b3d3;
    }

    &:hover {
      color: rgba(255, 255, 255, 0.6);
    }
  }

  &:disabled {
    cursor: default;
    background-color: #e5e5e5;
    pointer-events: none;
    color: #ffffff;
  }
}


.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 40px 0;
  padding: 0;
  list-style: none;

  &-item:not(:last-child) {
    position: relative;
    padding-right: 28px;
  }

  &-item:not(:last-child)::after {
    position: absolute;
    top: 50%;
    right: 11px;
    transform: translateY(-45%);
    background-image: url("../images/breadcrumbs-icon-arrow.svg");
    width: 7px;
    height: 11px;
    content: "";
  }

  &-link {
    position: relative;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
  }

  &-link-home::before {
    width: 200%;
    height: 120%;
  }

  &-link::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120%;
    height: 100%;
    content: "";
  }

  &-link:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &-link:hover {
    color: rgba(255, 255, 255, 0.6);
  }
}

.pagination {
  display: grid;
  grid-template-columns: repeat(auto-fill, 60px);
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #82b3d3;
  min-width: 60px;
  min-height: 60px;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
}

.pagination-link-current {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-link-divider {
  background-color: transparent;
  color: #000000;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.pagination-link:active:not(.pagination-link-current):not(.pagination-link-divider) {
  border: none;
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link:focus-visible:not(.pagination-link-current):not(.pagination-link-divider) {
  outline: 1px solid #82b3d3;
  outline-offset: -1px;
  background-color: #68a2ca;
}

.pagination-link:hover:not(.pagination-link-current):not(.pagination-link-divider) {
  outline: 1px solid #82b3d3;
  outline-offset: -1px;
  background-color: #68a2ca;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-right: 70px;
  margin-left: 238px;
  width: 893px;
}

.navigation-link {
  display: block;
  position: relative;
  padding: 20px 16px;
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
}

.navigation-link-current::after {
  position: absolute;
  right: 16px;
  bottom: 0;
  left: 16px;
  background-color: #756257;
  height: 2px;
  content: "";
}

.navigation-link:active {
  opacity: 0.3;
}

.navigation-link:focus-visible {
  outline-offset: -1px;
}

.navigation-link:hover {
  opacity: 0.6;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 340px;
  list-style: none;
}

.newsletter {
  padding: 96px 258px 104px;
}

.newsletter-description {
  margin: 0 0 54px 0;
  color: #ffffff;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.newsletter-form {
  display: flex;
}

.newsletter-form-button {
  border-radius: 0 4px 4px 0;
  width: 232px;
  font-size: 20px;
  line-height: 36px;
}

.newsletter-form-input-mail {
  border: none;
  border-radius: 4px 0 0 4px;
  background-color: #f2f2f2;
  padding-left: 20px;
  width: 452px;
  height: 100%;
  font-size: 18px;
  line-height: 24px;
  font-family: inherit;
}

.newsletter-form-input-mail::placeholder {
  opacity: 0.6;
  color: #000000;
}

.newsletter-form-input-mail:active {
  outline: 2px solid #000000;
}

.newsletter-form-input-mail:focus-visible {
  outline: 3px solid #83b3d3;
}

.newsletter-form-input-mail:hover {
  background-color: #e6e6e6;
}

.newsletter-title {
  margin: 0 0 20px 0;
  color: #ffffff;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.newsletter.transparent .newsletter-description {
  color: #333333;
}

.newsletter.transparent .newsletter-title {
  color: #000000;
}

.newsletter.with-background {
  background-image: url("../images/newsletter-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #8c98a3;
}

.select-control {
  appearance: none;
  margin-right: 70px;
  margin-left: auto;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-image: url("../images/select-arrow.svg");
  background-position: right 21px center;
  background-repeat: no-repeat;
  background-color: #ffffff;
  min-width: 292px;
  height: 49px;
  font-size: 18px;
  line-height: 21px;
  font-family: inherit;
  text-indent: 20px;
}

.select-control:active {
  border-color: #3f5e72;
}

.select-control:disabled {
  opacity: 0.3;
  border-color: #000000;
  color: #000000;
}

.select-control:focus-visible {
  outline: none;
  border-color: #68a2ca;
}

.select-control:hover {
  border-color: #68a2ca;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  width: 47px;
  height: 40px;
}

.socials-link:active svg {
  fill: rgba(104, 162, 202, 0.3);
}

.socials-link:focus-visible svg {
  fill: #68a2ca;
}

.socials-link:hover svg {
  fill: #68a2ca;
}

.socials-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  min-width: 142px;
  max-width: 142px;
  list-style: none;
}

.hotel-search {
  padding: 96px 304px;
  text-align: center;
}

.hotel-search-description {
  margin: 0 0 54px 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.hotel-search-link {
  display: inline-block;
  width: 376px;
  font-size: 20px;
  line-height: 36px;
}

.hotel-search-title {
  margin: 0 0 20px 0;
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.hotels-link {
  text-decoration: none;
}

.hotels-image {
  display: block;
  margin-bottom: 16px;
  max-width: 100%;
  object-fit: contain;
}

.hotels-link-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.hotels-item {
  display: flex;
  flex-direction: column;
  outline: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 20px;
}

.hotels-item-content {
  display: grid;
  grid-template-rows: min-content minmax(36px, min-content) minmax(37px, min-content);
  grid-template-columns: repeat(2, 140px);
  gap: 16px 20px;
  margin-top: auto;
}
